extends ../../pages-template/layout.pug

block headTitle
    title #{about.pageTitle} - #{common.pageTitle}

block body
  main#about.pt-8
    div.container-fluid
      div.row
    //- h1= about.pageTitle
    //- .col !{about.pageContent}
    //- include ../../components/carousel/carousel
