{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", 
      {
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-transform-classes", 
      {
        "loose": true
      }
    ]
  ]
}