#faq {
  .faq-card-topic {
    width: 100%;
    @include media-breakpoint-up(md){
      width: 45%;
    }
    @include media-breakpoint-up(lg){
      width: 30%;
    }
  }

  #faq-search {
    background-color: $gray;
    padding-left: 50px;
    height: 60px;
    font-size: $font-size-xmd;
  }

  .search-icon {
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-primary;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color-primary;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color-primary;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color-primary;
  }

  .close-icon {
    display: none;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-group.active {
    .close-icon{
      display: block;
    }
  }

  .card-body {
    a {
      &:focus,
      &:active{
        outline: none;
      }
    }
  }


}

#accordion, 
#accordion-results {
  .collapse {
    border-top: 1px solid $blue;
  }

  button {
    color: $blue;
    font-size: $font-size-xmd;
    line-height: 25px;
    z-index: 1;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .remove {
    display: none;
  }

  .search-icon {
    left: auto;
    right: 20px;
    cursor: pointer;
    z-index: 0;      
    top: 50%;
    transform: translateY(-50%);
  }

  h5[aria-expanded=true] {
    .remove {
      display: block !important;
    }  
    .search-icon {
      display: none;
    }
  }
  
  .card-title{
    font-size: $font-size-xmd;
    @include media-breakpoint-up(md){
      font-size: $font-size-md;
    }
  }
}
