.cards-multirow {  
  .card-title  {
    border-bottom: 1px solid;
  }
}

.cards-ext {
  .card-list-items {
    border-top: 1px solid;
  }
  .card-icon {
    margin-top: -2rem;
  }
}

@include media-breakpoint-up(xs) {  
  .container {    
    .card-columns-1 {
      column-count: 1;
    }

    .card-columns-2 {
      column-count: 1;

      .card {
        margin-bottom: 5px;
      }
    }

    .card-columns-3 {
      column-count: 1;

      .card {
        margin-bottom: 5px;
      }
    }

    .card-columns-4 {
      column-count: 1;

      .card {
        margin-bottom: 5px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {  
  .card-deck {
    .card {
      flex-basis: 50%;
    }    
  }
  .container {
    .card-columns-1 {
      column-count: 1;

      .card {
        margin-bottom: 5px;
      }
    }

    .card-columns-2 {
      column-count: 2;

      .card {
        margin-bottom: 5px;
      }
    }

    .card-columns-3 {
      column-count: 1;

      .card {
        margin-bottom: 5px;
      }
    }

    .card-columns-4 {
      column-count: 2;

      .card {
        margin-bottom: 5px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .cards-ext {
    .card {
      flex-basis: 50%;
    } 
  }
  .cards-multirow {
    .card {
      flex-basis: 33%;
    }    
  }
}

@include media-breakpoint-up(lg) {
  .cards-ext {
    .card {
      flex-basis: 0%;
    } 
  }

  .cards-module {
    .card {
      flex-basis: 0;
    }
  }
  .container {
    .card-columns-1 {
      column-count: 1;
    }

    .card-columns-2 {
      column-count: 2;
    }

    .card-columns-3 {
      column-count: 3;
    }

    .card-columns-4 {
      column-count: 4;
    }
  }
}
