extends ../../pages-template/layout.pug
include ../../content/heroFullWidthBanner.pug

block headTitle
    title #{about.pageTitle} - #{common.pageTitle}

block body
  div#about.container-fluid
    div.row
      +heroFullWidthBanner("self-employed", "url(/img/self-employed-banner.png)", "Simple funding for sole traders & freelancers", "text-white")
