header#header {
    z-index: 100;
    animation-duration: .5s;
    font-size: $font-size-sm;
    body.js-header-down & {
      top: -96px;
    }

    .btn {
      font-size: $font-size-sm;
    }

    #country-selector {
      font-size: $font-size-md;
    }

    .dropdown-menu {
      font-size: $font-size-sm;
    }
}
