-
    const common = {
        pageTitle: 'Capital On Tap'
    }
    const home = {
        pageTitle: 'Home',
        pageContent: '<p>Home page content to go here</p>'
    }
    const about = {
        pageTitle: 'About',
        pageContent: '<p>About page content to go here</p>'
    }
    const contact = {
        pageTitle: 'Contact',
        pageContent: '<p>Contact page content to go here</p>'
    }
    const components = {
        pageTitle: 'Contact',
        pageContent: '<p>Contact page content to go here</p>'
    }
    const topnav = [
        {
            title: '020 8962 7401',
            mobileTitle: 'Call Us',
            iconClass: 'mi-phone',
        },
        {
            title: 'Log in',
            mobileTitle: 'Log in',
            iconClass: 'mi-exit-to-app',
        }
    ]
    const bannerCheckList = [
      {
        text: 'Rates as low as 9.9% APR'
      },
      {
        text: 'Up to 1% cashback and uncapped reward points'
      },
      {
        text: 'Up to 20 supplementary cards'
      }
    ];

    const cards = [
      {
        src: 'img/icons/alarm-icon.svg',
        text1: 'Quick application',
        text2: '2 minutes'
      },
      {
        src: 'img/icons/face-icon.svg',
        text1: 'Rates as loa as',
        text2: '9.9% APR'      },
      {
        src: 'img/icons/account-icon.svg',
        text1: 'Up to 56 days',
        text2: 'interest free'
      },
      {
        src: 'img/icons/wallet-icon.svg',
        text1: 'Rewards yourself with',
        text2: 'cashback or Avios'
      }
    ];

block content
