section#odometer.d-flex.text-center.py-3.flex-column
  div.mb-3.px-2
    div.odometer
    p lent to UK businesses
  div.px-2
    p We have reached a fantastic milestone. We have lent 1 billion pounds directly to small businesses in the UK. 1 billion and counting!
    a(class="d-inline-flex justify-content-center blue" href="#")
      span Find out how we got there
      span.mi.mi-arrow-forward.ml-1

