section#odometer.py-5
  div.container.align-items-center.d-flex.flex-column-reverse.flex-lg-row
    div.col-12.col-lg-6.pb-2.pl-lg-0.text-center.text-lg-left
      p We have reached a fantastic milestone. We have lent 1 billion pounds directly to small businesses in the UK. 1 billion and counting!
      a(class="d-inline-flex justify-content-center blue" href="#")
        span Find out how we got there
        span.mi.mi-arrow-forward.ml-1
    div.col-12.col-lg-6.px-0.pb-2.pr-lg-0.text-center
      div.d-flex.justify-content-center.align-items-end
        label.odometer-digit.display-5 £
        div.odometer
      p.mt-2 lent to UK businesses

