section#odometer{
  background-color: $gray;
  .odometer {
    font-size: $font-size-xlg;
    background: transparent;
    padding: 0 .15rem;
  }
  label.odometer-digit{
    padding: 0 2px;   
    @include media-breakpoint-up(sm){
      padding: 0 5px;
    }
  }
  .odometer-formatting-mark{
    color: $blue;
  }
  .odometer-digit {
    height: 30px;
    line-height: 30px;    
    display: inline-block;
    vertical-align: bottom;
    font-size: $font-size-md;
    box-shadow: none;
    padding: 2px;
    margin: 0 2px;
    border-radius: 5px;
    background: $blue;
    color: $white;
    @include media-breakpoint-up(sm){
      padding: 2px 5px;
      font-size: $font-size-xlg;
      height: 56px;
      line-height: 58px;
    }
  }
  .odometer-inside {
    display: flex;
    align-items: flex-end;
  }
}
