footer.footer#footer.bg-primary
  div.container.py-3
    div.row.mb-2
      div.col-12.col-md-4.mb-2
        p.text-white.font-weight-bold.mb-0 COMPANY
        hr.bg-info.my-2
        ul.list-unstyled.mb-0
          li.mb-1
            a(href="#!" class="text-info") Home
          li.mb-1
            a(href="#!" class="text-info") Our Story
          li.mb-1
            a(href="#!" class="text-info") Customer Stories
          li.mb-1
            a(href="#!" class="text-info") Careers
      div.col-12.col-md-4.mb-2
        p.text-white.font-weight-bold.mb-0 PRODUCT
        hr.bg-info.my-2
        ul.list-unstyled.mb-0
          li.mb-1
            a(href="#!" class="text-info") Business Credit Card
          li.mb-1
            a(href="#!" class="text-info") Self-Employed Credit Card
          li.mb-1
            a(href="#!" class="text-info") How it works
          li.mb-1
            a(href="#!" class="text-info") FAQs
      div.col-12.col-md-4.mb-2
        p.text-white.font-weight-bold.mb-0 RESOURCES
        hr.bg-info.my-2
        ul.list-unstyled.mb-0
          li.mb-1
            a(href="#!" class="text-info") Blog
          li.mb-1
            a(href="#!" class="text-info") How to guide

    div.row
      div.col-12.col-md-4.mb-3
        a(href="/")
          img(data-src="img/cot-logo-yellow.svg" class='img-fluid' alt='Capital On Tap')
      div.col-12.col-md-8.mb-3
        div.row
          ul#hygiene-nav.list-unstyled.mb-3.col-sm-12.col-md-7.col-lg-8.d-flex.justify-content-md-end.pr-md-0
            li.mr-3.mr-md-2
              a(href="#!" class="text-info")
                small Terms of Use
            li.mr-3.mr-md-2
              a(href="#!" class="text-info")
                small Cookies
            li.mr-3
              a(href="#!" class="text-info")
                small Privacy Policy
          ul#social-nav.list-unstyled.mb-0.col-sm-12.col-md-5.col-lg-4.d-flex.justify-content-md-end
            li.mr-3
              a(href="#!" class="text-info")
                img(data-src="img/icons/social_icon_linkedin.svg" class='img-fluid' alt='LinkedIn')
            li.mr-3
              a(href="#!" class="text-info")
                img(data-src="img/icons/social_icon_twitter.svg" class='img-fluid' alt='Twitter')
            li.mr-3
              a(href="#!" class="text-info")
                img(data-src="img/icons/social_icon_facebook.svg" class='img-fluid' alt='Facebook')
            li.mr-3
              a(href="#!" class="text-info")
                img(data-src="img/icons/social_icon_email.svg" class='img-fluid' alt='Email')
    div.row
      div.col-12
        hr.bg-info.my-2
        small.text-info © New Wave Capital Limited, company number 07959823, trading name of Capital on Tap™. Registered in England and Wales, registered office No.1 London Bridge, London, England, SE1 9BG. New Wave Capital Limited are regulated by the Financial Conduct Authority (FCA) license number 625592. Capital on Tap is a trademark of New Wave Capital Limited. Registered in England and Wales with the United Kingdom Intellectual Property Office. All rights reserved. 2019.

