div.dropdown.pt-3.m-1
  button(class="btn btn-primary dropdown-toggle d-flex align-items-center border-0 shadow-none pl-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    img(data-src="/img/gb_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
    span United Kingdom/EN
    span.mi.mi-keyboard-arrow-down
  ul(class="dropdown-menu bg-white py-2 border-0 mt-2 top-arrow" aria-labelledby="dropdownMenuButton")
    li
      a(class="dropdown-item py-1 " href="#")
        img(data-src="/img/es_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
        span Spain
    li
      a(class="dropdown-item py-1" href="#")
        img(data-src="/img/us_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
        span United States/EN
