div.dropdown.d-none.d-md-block
  button(class="btn btn-light dropdown-toggle d-flex align-items-center border-0 shadow-none py-1 px-2 font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    img(data-src="img/gb_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
    span EN
    span.mi.mi-keyboard-arrow-down
  ul(class="dropdown-menu bg-white py-2 w-100 border-0 mt-2 top-arrow" aria-labelledby="dropdownMenuButton")
    li
      a(class="dropdown-item py-1 " href="#")
        img(data-src="img/es_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
        span ES
    li
      a(class="dropdown-item py-1" href="#")
        img(data-src="img/us_icon.svg" class='img-fluid mr-1' alt='Capital On Tap')
        span EN
