// HTML Element to have the root font-size to manipulate responsive sizes
html {
  font-size: 16px;
  
  @media screen and (max-width: 700px) {
    font-size: 15px;    
  }
}

body {
  padding: 0 !important;
}

// Theming Bootstrap Variable defaults https://getbootstrap.com/docs/4.3/getting-started/theming/
$theme-colors: (
  "primary": #263355,
  "secondary": #486baf,
  "warning": #f2c14a,
  "info": #c0ddeb,
  "light": #F5F7F8
);
$colors: (
  "yellow": #f2c14a,
  "cyan": #c0ddeb,
  "blue": #466BAF
);

//Spacing
$spacers: (
  1: .5rem,
  2: 1rem,
  6: 3.5rem,
  7: 6rem,
  8: 8rem
);

$body-color: #263355;
$font-family-base: "Lato", sans-serif;
$headings-font-weight: bold;
$border-width: 2px;
$btn-padding-y: .7rem;
$btn-padding-x: 2rem;
$enable-responsive-font-sizes: true;

//Font sizes
$h1-font-size: 3rem; //48px
$h2-font-size: 1.875rem; //30px
$h3-font-size: 1.375rem; //22px

$font-size-base: 1.125rem; //18px
$font-size-lg: 1.125rem; //18px
$font-size-md: 1rem; //16px
$font-size-sm: 0.875rem; //14px
$font-size-xsm: 0.75rem; //12px


$color-primary: #263355;
$white: #ffffff;
$gray: #e8ebee;
$blue: #466BAF;
$color-secondary: lighten($color-primary, 37.5%);
