section(class="container-fluid text-center pt-5 pb-2 bg-light")
  div.container.p-0
    h2 Learn why our customers love us.
    p We have already helped over 65,000 businesses in the UK and add a new customer every 5 minutes. See how we can help you today.
