div#navbarContent.collapse.navbar-collapse.d-md-none
  include ../countrySelector/countrySelectorMobile
  div.divider.m-2.bg-white
  ul.navbar-nav.px-2
      li.nav-item.active
          a(class='nav-link text-white' href="/small-business") Small Business
      li.nav-item
          a(class='nav-link text-white' href="/self-employed") Self Employed
      li.nav-item
          a(class='nav-link text-white' href="/how-it-works") How it works
      li.nav-item
          a(class='nav-link dropdown-toggle text-white d-flex' id="navbarDropdown" href="/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span About Us
            span.mi.mi-keyboard-arrow-down
          ul(class="dropdown-menu bg-primary p-0 m-0" aria-labelledby="navbarDropdown")
            li
              a(class="dropdown-item py-1 text-white p-1" href="#") Our Story
            li
              a(class="dropdown-item py-1 text-white p-1" href="#") Customer Stories
  div.divider.m-2.bg-white
  button.btn.btn-light.ml-2.mt-1.font-weight-bold APPLY NOW
