extends ../../pages-template/layout.pug

block headTitle
    title FAQ's

block body
  div#faq.bg-light
    section(class="img-fluid container-fluid d-flex justify-content-center")
      div.container.px-0.py-3.py-lg-5.d-flex.justify-content-center.flex-column
        div.text-center
          h1 Frequently asked questions
    section(class="container-fluid text-center")
      div.container.px-0.pb-3.pb-lg-5
        div#faq-cards.d-flex.flex-wrap.justify-content-around
          block body
            each item in faqTopics
              div.faq-card-topic.card.shadow.border-0.mx-0.mx-md-2.mb-4
                div.card-body
                  img(data-src=item.src class='img-fluid mb-1' alt='Capital On Tap')
                  h3.card-title.mb-1= item.text1
                  a(class="d-inline-flex justify-content-center blue" href=`#${item.link}`)
                    span See all answers
                    span.mi.mi-arrow-forward.ml-1

    div#accordion-react

    section(class="container-fluid bg-info py-5 px-0 text-center")
      div.container
        h2.card-title.mb-2 Can't find your answer? 
        p.mb-2 Contact our outstanding 24/7 customer service team for help. 
        a(class="d-inline-flex justify-content-center blue" target="_blank" href="mailto:contact@capitalontap.com")
          span contact@capitalontap.com
          span.mi.mi-mail-outline.ml-1
                   


