#homepage-banner{
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#card-black{
  left: 50%;
  bottom: 7rem;
  z-index: 4;
  transform: translateX(-50%);
}
#card-blue{
  left: 50%;
  bottom: 4.5rem;
  z-index: 3;
  transform: translateX(-50%);
}
#card-yellow{
  z-index: 2;
}

